article {
    text-align: left;
    max-width: 80%;
    min-height: 100vh;
    margin: 0 auto;

    @media (max-width: 639px) {
        max-width: 100%;
    }

    @media (max-width: 611px) {
        #silly-title {
            max-width: 100%;
        }
    }

    h1 {
        text-align: center;
    }


    aside {
        padding-left: 2rem;
        opacity: 0.8;
        border-left: #cccccc 5px solid;
    }

    pre {
        max-width: 100%;
    }

    a {
        font-weight: bold;
        text-decoration: underline;
    }
}
