@import url('https://fonts.googleapis.com/css2?family=Quicksand');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

:root {
	font-family: "Titillium Web", sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color: #222;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

* {
	box-sizing: border-box;
}


@media (min-width: 800px) {
	html, body, #app {
		width: 100%;
	}
}

body {
	margin: 0;
}

#app {
	display: flex;
	flex-direction: column;

	-webkit-transition: background-color 800ms linear;
	-ms-transition: background-color 800ms linear;
	transition: background-color 800ms linear;
}

main {
	flex: auto;
	flex-direction: column;
	justify-content: space-between;
	display: flex;
	align-items: center;
	max-width: 1280px;
	margin: 0 auto;
	text-align: center;
}

#copy {
	margin: 0 2rem;
}

@media (max-width: 639px) {
	main {
		margin: 2rem;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		color: #ccc;
		background-color: #1a1a1a;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Quicksand", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

.mb-big { margin-bottom: 6rem; }
.mb-mid { margin-bottom: 4rem; }

a {
	color: #cccccc;
	text-decoration: none;
}